<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= cl_image_tag("https://res.cloudinary.com/ddtixmobo/image/upload/v1675348442/hlsmfuldojmbhm5jn26i.jpg",
      width: 400, height: 300, crop: :fill) %>
